<!DOCTYPE html>
<html>
<head>
	<title>Hennessy's World~~</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js" ></script>
	<link  rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css"/>
	<script src="__PUBLIC__/js/bootstrap.js" ></script>
	<link  rel="stylesheet" href="__PUBLIC__/css/hennessy.css"/>
</head>
<body>
	<div class="container-fluid">
		<php>
			if($_SESSION['host']=="other")
			{
				echo "<div class='row'><div class='col-md-12 navbar-fixed-top' id='hostname'>";
				echo "<center>您现在浏览的是Hennessy·zhao的博客</center>";
				echo "</div></div>";
			}


		</php>
		<div class="row">
			<div class="col-md-12" id="top">
				<div class="row">
					<div class="col-md-4" id="poet">
						<p id="tp1" class="p1">生者为过客&nbsp&nbsp死者为归人</p>
						<p id="tp2" class="p1">天地一逆旅&nbsp&nbsp同悲万古尘</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="title">
				<center><p class="p2">
					<a href="home.html" target="target1" class="a1" id="home1">首页</a>
					<a href="say.html" target="target1" class="a1" id="say1">说说</a>
					<a href="study.html" target="target1" class="a1" id="study1">学习日志</a>
					<a href="message.html" target="target1" class="a1" id="message1">留言板</a>
					<a href="photo" target="target1" class="a1" id="photo1">相册</a>
				</p></center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="container">
				<div class="row">
					<div class="col-md-12" id="body">
						<div class="row">
							<div class="col-md-4">
								<div class="col-md-9" id="bleft">
									<div class="column">
										<div class="col-md-12" id="time">
											<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="200" height="75">
											  	<param name="movie" value="__PUBLIC__/flash/1.swf" />
											 	<param name="quality" value="high" />
											 	<embed src="__PUBLIC__/flash/1.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="100%" height="90"></embed>
											</object>
										</div>
										<div class="col-md-12" id="logo">
											<div class="column">
												<div class="col-md-12" id="picture">
													<img src="__PUBLIC__/css/pic/005.jpg" class="img-thumbnail" id="head"><br/>
													<center>
														<p id="pp1">Hennessy&nbsp&nbsp·&nbsp&nbsp zhao</p>
													</center>
												</div>
											</div>
											<div class="column">
												<div class="col-md-12" id="good">
													<form action="{:U('Home/Hennessy/number','','')}" id="gooder" method="post"></form>
													<center>
												 		<a href="#" style="font-size:50px;" id="ga1">
															<span class="glyphicon glyphicon-thumbs-up" onclick="document.getElementById('gooder').submit()"></span>
													 	</a>
													</center>
													<center>
													 	<button class="btn btn-success" id="button1">点赞人数:{$number}</button>
													</center>
												</div>
											</div>
										</div>
										<div class="col-md-12" id="poverb">
											<h4 id="ph4">简单信息</h4>
											<p class="pp1"><a href="https://github.com/Hennessy-zhao" class="a2">Github&nbsp:&nbspHennessy-zhao</a></p>
											<p class="pp1"><a href="http://weibo.com/u/5357689025/home?wvr=5&uut=fin&from=reg" class="a2">新浪微博&nbsp:&nbspHennessy-zhao</a></p>
											<p class="pp1"><a href="#" class="a2">百度账号&nbsp：&nbspz岁月静好z</a></p>
											<br/>
											<p class="pp1">爱好&nbsp:&nbsp编程，绘画</p>
											<p class="pp1">座右铭&nbsp:&nbsp不要叹气，每叹一口气，就会少一份自信，要时刻相信，我无所不能</p>
											<br/>
											<p class="pp1">自我介绍&nbsp:&nbsp性格开朗热爱小说的微腐白羊座小女子，偶尔会多愁善感，上大学之前没想过会成为程序员，程序程序员后发现敲代码其实也挺有趣的~~~</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="column">
									<div class="col-md-12" id="home">
										<iframe src="home.html" name="target1"  frameborder="0" width="100%" height="100%"></iframe>
									</div>
								</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>

	</div>

	<script src="__PUBLIC__/js/addLoadEvent.js" ></script>
	<script src="__PUBLIC__/js/hennessy.js" ></script>
	<script type="text/javascript">
		host=1;
		<php>  if ($_SESSION['host']=='other') echo "host=0;";</php>
		if (host==0) 
		{
			hideen=document.getElementById("say-text");
			hideen.style.display='none';
		}

	</script>
</body>
</html>



